<html ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>zone-lookup</title>
  <link rel="stylesheet" type="text/css" href="static/lib.css">
  <link rel="stylesheet" type="text/css" href="static/app.css">
</head>

<body data-ng-controller="ZoneCtrl">

  <div class="container ng-cloak">
    <div class="from">
      <input data-ng-model="timeFrom" type="time">
      <select data-ng-model="zoneFrom" data-ng-options="zone for zone in zones"></select>
    </div>
    <div class="to">
      <span class="badge">to</span>
      <input data-ng-model="timeTo" type="text" readonly="readonly">
      <select data-ng-model="zoneTo" data-ng-options="zone for zone in zones"></select>
    </div>
  </div>

  <script src="static/lib.js"></script>
  <script src="static/app.js"></script>

</body>
</html>
